# Import and Export Files 

# Challenge 1 - Working with CSV and Other Separated Files

Import the pandas library

csv files are more commonly used as dataframes. In the cell below, load the file from the URL provided using the `read_csv()` function in pandas. Starting version 0.19 of pandas, you can load a csv file into a dataframe directly from a URL without having to load the file first like we did with the JSON URL. The dataset we will be using contains informtaions about NASA shuttles. 

In the cell below, we define the column names and the URL of the data. Following this cell, read the tst file to a variable called `shuttle`. Since the file does not contain the column names, you must add them yourself using the column names declared in `cols` using the `names` argument. Additionally, a tst file is space separated, make sure you pass ` sep=' '` to the function.

In [2]:
#Your pandas import here:
import pandas as pd

In [3]:
# Run this code:

cols = ['time', 'rad_flow', 'fpv_close', 'fpv_open', 'high', 'bypass', 'bpv_close', 'bpv_open', 'class']
tst_url = 'https://archive.ics.uci.edu/ml/machine-learning-databases/statlog/shuttle/shuttle.tst'

In [4]:
# Your code here:
shuttle = pd.read_csv(tst_url,names = cols,sep=' ')

Let's verify that this worked by looking at the `head()` function.

In [5]:
# Your code here:
print(shuttle.head())

    time  rad_flow  fpv_close  fpv_open  high  bypass  bpv_close  bpv_open  \
55     0        81          0        -6    11      25         88        64
56     0        96          0        52    -4      40         44         4
50    -1        89         -7        50     0      39         40         2
53     9        79          0        42    -2      25         37        12
55     2        82          0        54    -6      26         28         2

    class
55      4
56      4
50      1
53      4
55      1

To make life easier for us, let's turn this dataframe into a comma separated file by saving it using the `to_csv()` function. Save `shuttle` into the file `shuttle.csv` and ensure the file is comma separated and that we are not saving the index column.

In [6]:
# Your code here:
shuttle = shuttle.to_csv('shuttle.csv', index=False)

# Challenge 2 - Working with Excel Files

We can also use pandas to convert excel spreadsheets to dataframes. Let's use the `read_excel()` function. In this case, `astronauts.xls` is in the same folder that contains this notebook. Read this file into a variable called `astronaut`. 

Note: Make sure to install the `xlrd` library if it is not yet installed.

In [22]:
# Your code here:
astronaut = pd.read_excel('astronauts.xls')

Use the `head()` function to inspect the dataframe.

In [23]:
# Your code here:
print(astronaut.head())

               Name    Year  Group   Status Birth Date    Birth Place Gender  \
0   Joseph M. Acaba  2004.0   19.0   Active 1967-05-17  Inglewood, CA   Male
1    Loren W. Acton     NaN    NaN  Retired 1936-03-07   Lewiston, MT   Male
2  James C. Adamson  1984.0   10.0  Retired 1946-03-03     Warsaw, NY   Male
3   Thomas D. Akers  1987.0   12.0  Retired 1951-05-20  St. Louis, MO   Male
4       Buzz Aldrin  1963.0    3.0  Retired 1930-01-20  Montclair, NJ   Male

                                          Alma Mater     Undergraduate Major  \
0  University of California-Santa Barbara; Univer...                 Geology
1   Montana State University; University of Colorado     Engineering Physics
2          US Military Academy; Princeton University             Engineering
3                       University of Missouri-Rolla     Applied Mathematics
4                           US Military Academy; MIT  Mechanical Engineering

          Graduate Major Military Rank         Military Branch  Space Flights  \
0                Geology           NaN                     NaN              2
1          Solar Physics           NaN                     NaN              1
2  Aerospace Engineering       Colonel       US Army (Retired)              2
3    Applied Mathematics       Colonel  US Air Force (Retired)              4
4           Astronautics       Colonel  US Air Force (Retired)              2

   Space Flight (hr)  Space Walks  Space Walks (hr)  \
0               3307            2              13.0
1                190            0               0.0
2                334            0               0.0
3                814            4              29.0
4                289            2               8.0

                                            Missions Death Date Death Mission
0             STS-119 (Discovery), ISS-31/32 (Soyuz)        NaT           NaN
1                              STS 51-F (Challenger)        NaT           NaN
2               STS-28 (Columbia), STS-43 (Atlantis)        NaT           NaN
3  STS-41 (Discovery), STS-49 (Endeavor), STS-61 ...        NaT           NaN
4                               Gemini 12, Apollo 11        NaT           NaN

Use the `value_counts()` function to find the most popular undergraduate major among all astronauts.

In [27]:
# Your code here:
astronaut['Undergraduate Major'].value_counts()

Physics                     35
Aerospace Engineering       33
Mechanical Engineering      30
Aeronautical Engineering    28
Electrical Engineering      23
                            ..
Geosciences                  1
Psychology                   1
Mathematics & Economics      1
Industrial Engineering       1
Astronomy                    1
Name: Undergraduate Major, Length: 83, dtype: int64

Due to all the commas present in the cells of this file, let's save it as a tab separated csv file. In the cell below, save `astronaut` as a tab separated file using the `to_csv` function. Call the file `astronaut.csv` and remember to remove the index column.

In [28]:
# Your code here:
astronaut = astronaut.to_csv('astronaut.csv', index=False)

# Bonus Challenge - Fertility Dataset

Visit the following [URL](https://archive.ics.uci.edu/ml/datasets/Fertility) and retrieve the dataset as well as the column headers. Determine the correct separator and read the file into a variable called `fertility`. Examine the dataframe using the `head()` function.

In [34]:
# Your code here:
col_names = ['Season in which the analysis was performed', 'Age at the time of analysis', 'Childish diseases (ie , chicken pox, measles, mumps, polio)', 'Accident or serious trauma','Surgical intervention', 'High fevers in the last year','Frequency of alcohol consumption','Smoking habit 1) never, 2) occasional 3) daily. (-1, 0, 1)','Number of hours spent sitting per day ene-16 (0, 1)','Output: Diagnosis normal (N), altered (O)']
fertility = pd.read_csv('fertility_Diagnosis.txt', sep=',',names=col_names)
print(fertility.head())

   Season in which the analysis was performed  Age at the time of analysis  \
0                                       -0.33                         0.69
1                                       -0.33                         0.94
2                                       -0.33                         0.50
3                                       -0.33                         0.75
4                                       -0.33                         0.67

   Childish diseases (ie , chicken pox, measles, mumps, polio)  \
0                                                  0
1                                                  1
2                                                  1
3                                                  0
4                                                  1

   Accident or serious trauma  Surgical intervention  \
0                           1                      1
1                           0                      1
2                           0                      0
3                           1                      1
4                           1                      0

   High fevers in the last year  Frequency of alcohol consumption  \
0                             0                               0.8
1                             0                               0.8
2                             0                               1.0
3                             0                               1.0
4                             0                               0.8

   Smoking habit 1) never, 2) occasional 3) daily. (-1, 0, 1)  \
0                                                  0
1                                                  1
2                                                 -1
3                                                 -1
4                                                 -1

   Number of hours spent sitting per day ene-16 (0, 1)  \
0                                               0.88
1                                               0.31
2                                               0.50
3                                               0.38
4                                               0.50

  Output: Diagnosis normal (N), altered (O)
0                                         N
1                                         O
2                                         N
3                                         N
4                                         O